@*@model  MyProject.MVC.Models.VehicleMakeViewModel*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*<div>
    <table style="width:100%">
        <tr>
            <th>makename             </th>
            <th>makeabrv            </th>
        </tr>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Abrv
            </td>
        </tr>
    </table>
</div>*@
